{% extends "base.html" %}
{% load static %}
{% block title %}
    Главная
{% endblock %}

{% block main %}
    <main>
        <section class="promo">
            <div class="promo-article">
                <h2><b>{{ vacancy_name }}</b></h2>
                <p>Менеджер IT-проектов – это специалист, в обязанности которого входит беспрерывное управление
                    проектом. В IT-команде он выполняет административно-управленческие функции: соблюдение сроков,
                    решение текущих проблем, коммуникация. Профессия понравится ребятам, которые имеют склонность к
                    математике, иностранному языку, информатике.</p>
            </div>
            <img src="{% static 'img/promo_pic.jpeg' %}" width="525" height="350">
        </section>
        <section class="knowledge">
            <h2>Плюсы и минусы</h2>
            <div class="skills">
                <div class="stack">
                    <h3>Плюсы</h3>
                    <ul>
                        <li>Профессия позволяет реализовать управленческие навыки;</li>
                        <li>Деятельность связана с интеллектуальным развитием, хорошо оплачивается;</li>
                        <li>Возможен карьерный рост;</li>
                        <li>Менеджер IT-проектов быстро заводит много полезных деловых связей;</li>
                        <li>В течение года менеджер работает с разными специалистами и проектами, поэтому отсутствует
                            однообразность.
                        </li>
                    </ul>
                </div>
                <div>
                    <img src="{% static 'img/scheme.jpg' %}" width="450" height="300">
                </div>
                <div class="stack">
                    <h3>Минусы</h3>
                    <ul>
                        <li>Огромная ответственность за все процессы. Он отчитывается перед заказчиком в случае срыва
                            сроко. Поэтому работа связана с постоянными стрессами, эмоциональным перенапряжением;
                        </li>
                        <li>Нобходимость быть на связи круглосуточно. Он, получив жалобу или требование, немедленно
                            берется за поиск эффективных решений;
                        </li>
                        <li>Сотрудничество с клиентами, которые плохо понимают специфику процесса разработки;</li>
                    </ul>
                </div>
            </div>
        </section>
        <section class="soft">
            <h2>Важные личные качества</h2>
            <div class="soft-skills">
                <ul class="skills-list">
                    <li>✓ Быстрое принятие решений</li>
                    <li>✓ Навык управления командой</li>
                    <li>✓ Лидерские качества</li>
                    <li>✓ Самообразование, ответственность</li>
                    <li>✓ Умение находить общий язык с разными людьми</li>
                </ul>
                <img src="https://i.gifer.com/OSFi.gif" width="600" height="350">
            </div>
        </section>
        <section class="trend">
            <h2>Каковы особенности профессии?</h2>
            <div class="tr-c">
                <div class="trend-container">
                    <p>
                        Главная цель менеджера IT-проекта заключается в создании рабочего продукта по приемлемой цене,
                        но при условии соблюдения сроков и требований заказчика. В его обязанности входят и другие
                        работы, рассмотрим их
                    </p>
                    <div class="soft-skills">
                        <ul class="skills-list">
                            <li>✓ анализ конкурентной среды, рисков, требований;</li>
                            <li>✓ расчет бюджета;</li>
                            <li>✓ согласование сроков, тарифов ресурсов;</li>
                            <li>✓ составление технических заданий, подготовка документации;</li>
                            <li>✓ выбор специалистов, распределение технических задач между членами команды</li>
                            <li>✓ соблюдение договоренностей и требований;</li>
                            <li>✓ подготовка презентационных материалов, демо-версий, составление отчетов.</li>
                        </ul>
                    </div>
                </div>
                <img src="{% static 'img/graphic.png' %}" width="500">
            </div>
        </section>
        <section class="about">
            <p>Данный веб-ресурс предоставляет собранную аналитику по профессии {{ vacancy_name }}</p>
            <p>Анализ проходил по вакансиям, собранных с сайтa <a href="#">hh.ru</a> с 2003 по 2023.</p>
            <p>Перемещаясь по страницам сайта Вы можете изучить различные позиции по профессии.</p>
        </section>
    </main>
{% endblock %}